/* Universal Styles */

html {
    font-family:sans-serif;
    font-size: 16px;
}

body {
    color: #9c9a9a;
}

#page-container {
    margin: 0 auto;
    width: 1245px;
    border: 1px;
    border-color:  #474747;
}

/* Header */

header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: white;
    height: 64px; 
    padding: 16px 24px; 
    display: inline;
}

.content {
    display: inline-flex;
    
}

#logo {
    position: relative;
    top: 12px;
    padding-left: 24px;
}

#colmar {
    display: inline;  
    padding-right: 500px;
}

.nav {
    float: right;
    margin-left: 132px;
    padding-right: 24px;
}

/* Links */


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 16px;
    color: #464646;
}

/* Learn Section*/

.banner {
    position: relative;
    top: 64px;
    padding: 32px 24px;
    background-color: #c8c8c8;
}

.banner img {
    padding: 32px 24px;
    width: 60%;
}

.banner-text { 
    position: relative;
    left: 65%;
    bottom: 560px;
    width: 300px;
    margin: 120px 0 0;
    padding-left: 10px;
    color: #464646;
}

#button {
    padding: 8px 10%;
    width: 100%;
    color: #fff;
    background-color: #464646;
    border: 1px solid #464646;
}

