/* Universal Styles */

html {
    font-family:sans-serif;
    font-size: 16px;
}

body {
    color: #9c9a9a;
}

#page-container {
    margin: 0 auto;
    width: 1245px;
    border: 1px;
    border-color:  #474747;
}

/* Header */

header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: white;
    height: 64px;   
}

.content {
    display: inline-flex;
} 

.logo {
    padding-left: 24px;
    padding-top: 16px;
}

#colmar {
    height: 32px;
}

.mobile {
    visibility: hidden;
}

/* Links */


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
}

/* Learn Section*/

